<div class="container pt-5 text-center">
  <h1><b>About Our App</b></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.</p>
  <div class="row pt-5">
    <div class="col-md-6 order-md-1">
      <img src="../../assets/image/android-smartphone.png" width="50%" class="img-fluid" alt="Imagem Principal">
    </div>
    <div class="col-md-6 order-md-2">
      <div class="card">
        <div class="card-body">
          <h1><b>Creative design</b></h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.</p>
        </div>
      </div>
      <div class="card cards">
        <div class="card-body">
         <h1><b>Easy to use</b></h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">

    <div class="col-md-6 order-md-1">
    <h1><b>Download App Now</b></h1>
    <p style="padding-bottom: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae,
      nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.</p>
     <div class="row">
      <div class="col">
        <img src="../../assets/image/loja1.png" width="70%" class="img-fluid" alt="Imagem Principal">
      </div>
      <div class="col">
        <img src="../../assets/image/loja.png" width="70%" class="img-fluid" alt="Imagem Principal">
      </div>
     </div>
    </div>
    <div class="col-md-6 order-md-2">
      <img src="../../assets/image/celular2.png" width="60%" class="img-fluid" alt="Imagem Principal">
    </div>
  </div>
</div>
